@media screen and (max-width: 768px) {
    
    header { padding: 20px; }
    header img { width: 250px; }

    nav ul { 
        flex-direction: column; 
        gap: 15px; 
    }
    nav ul li { margin: 0; }
    nav a { font-size: 18px; }

    .content-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
    }

    .solo-box {
        width: 280px;            
        max-width: 90%;
        background: rgba(0, 0, 0, 0.8);
        border: 1px solid rgba(255, 255, 255, 0.1);    
        overflow: hidden;          
        box-shadow: 0 10px 30px rgba(0,0,0,0.5);
        padding: 10px;
        border-radius: 8px 8px 0 0;
    }

    .solo-box img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: contain; 
    }  

    .main-feature-container {
        width: 95%;
        max-width: 280px;    
        margin-top: 20px;
    }


    .solo-box p {
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .audio-player {
    display: block !important;
    max-width: 100%
        box-sizing: border-box;
    width: 100% !important;
    height: 152px !important;
    padding: 0 !important;
    margin: 0 !important;
    background: rgba(0, 0, 0, 0.8) !important;
    border-radius: 0 0 12px 12px !important;
    overflow: hidden !important;
}

.audio-player iframe {
    width: 100% !important;
    height: 152px !important;
    border: none !important;
    display: block !important;
}

    /* 5. Footer & Socials */
    footer {
        padding: 40px 0;
    }

    .social-links a {
        font-size: 30px;
        margin: 0 15px;
    }
}
@media screen and (max-width: 380px) {
    header img { width: 200px; }
    .solo-box { width: 220px; }
    .solo-box p { font-size: 0.9rem; }
}
